{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Snails Inventory</title>
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <style>
        #header-fixed {
            position: fixed;
            top: 0;
            display: none;
            background-color: white;
        }
    </style>
    <meta http-equiv="refresh" content="5">

</head>
<body>
{#{% render_table data %}#}
{# https://docs.djangoproject.com/en/4.0/ref/templates/builtins/ #}

<hr>

<div class="container-fluid">
    {% if isSnapshot %}
        <h3 class="text-left"><u>Inventory Snapshot as at <span id="date"> {{ max_date }}</span></u></h3><br>
    {% else %}
        <h3 class="text-left"><u>Inventory History as at <span id="date"> {{ max_date }}</span></u></h3><br>
    {% endif %}
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th> inventoryId</th>
            <th> recordDateTime</th>
            <th> penNumber</th>
            <th> staffResponsible</th>
            <th class="text-center"> totalCount</th>
            <th> comments</th>
        </tr>
        </thead>
        <tbody>

        {% for record in data %}
            <tr>
                {# https://stackoverflow.com/a/27555337 #}
                <td><a href="{% url 'snailsinventory-detail' pk=record.id %}"> {{ record.id }} </a></td>
                {# https://realpython.com/django-redirects/ #}
                <td> {{ record.dateTimeRecorded }} </td>
                <td>
                    <a href="{% url 'frontend:inventory-detail-by-pen' pen=record.penNumber.number %}"> {{ record.penNumber.number }} </a>
                </td>
                {#                <td> {{ record.specieType.specie }} </td>#}
                <td>
                    <a href="{% url 'frontend:inventory-snapshot-staff' staff=record.penNumber.responsible.name %}"> {{ record.penNumber.responsible.name }}</a>
                </td>
                <td class="text-center"> {{ record.totalCount }} </td>

                {% if record.comments %}
                    <td>
                        <a href="{% url 'frontend:activity-detail-by-pen' pen=record.penNumber.number %}"> {{ record.comments }} </a>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        {% if isSnapshot %}
            <tr>
                <td></td>
                <td><strong> Grand Total </strong></td>
                {#                {% with count = data | length %}#}
                <td>{{ data | length|add:"-1" }} pens</td>
                {#                {% endwith %}#}
                {# https://stackoverflow.com/a/902051 #}
                <td><strong> ** {{ eggsCount }} Eggs ** </strong></td>
                <td class="text-center"><strong> {{ grandTotals }} </strong></td>
                <td><a href="{% url 'frontend:eggs-inventory-snapshot' %}"> View Eggs Count by Staff </a></td>
                <td></td>
                {#                <td></td>#}
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<script src="{% static 'main/script/common.js' %}"></script>

</body>
</html>